.circle{
    height: 40px;
    width: 40px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex{
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.right_arrow {
    width: 0; 
    height: 0; 
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 9px solid white;
    border-radius: 2px;
  }

.line{
    width: 3px;
    height: 18px;
    background-color: gray;
    border-radius: 6px;
}