.circle{
    padding: 0.8rem;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex{
    display: flex;
    align-items: center;
    gap: 0.1rem;
}

.right_arrow {
    width: 0; 
    height: 0; 
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 12px solid white;
    border-radius: 2px;
  }

.line{
    width: 3px;
    height: 14px;
    background-color: gray;
    border-radius: 6px;
}