.button{
    padding-block: 0.75rem;
    padding-inline: 2rem;
    border-radius: 999px;
    border: none;
    font-weight: 600;
    font-family: var(--gothic-font);
}

.large{
    padding-block: 1.25rem;
    padding-inline: 3.25rem;
}

.button_border{
    border: 1px solid black;
}