.flex{
    display: flex;
    gap: 0.5rem;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.outline_circle{
    width: 1rem;
    height: 1rem;
    border-radius: 999px;
    border: 1px solid black;
}