.main{
    margin: 2rem;
    display: flex;
    gap: 4rem;
}

.main h1{
    font-size: 4rem;
}

.left{
    width: 70ch;
}

.left span{
    max-width: 55ch;
    display: inline-block;
    margin-top: 1.5rem;
    color: #a7a7a7;
    font-weight:500 ;
}

.btn_wrapper{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.trusted {
    margin-top: 0.5rem;
}

.trusted span{
    color: black;
    letter-spacing: 0.1rem;
    font-family: var(--zilla-font);
    padding-bottom: 0.5rem;
    
}

.btn_trusted_wrapper{
    max-width: fit-content;
}

.card{
    padding: 1rem;
    border-radius: 1.5rem;
    border: 1px solid black;
    width: 30rem;
}

.project{
    composes:card;
    background-color: #f59fec;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.card_subtext{
    color: #a7a7a7;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: x-small;
}

.project_name {
    composes:card_subtext;
    display: block;
    display: flex;
    justify-content: space-between;
}

.timer {
    font-size: 3rem;
    font-family: var(--rubik-font);
}

.project_timer_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.employee{
    composes:card;
    background-color: #534fff;
    color: white;
}

.employee_content_wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.employee_card_subtext{
    composes:card_subtext;
    display: block;
    font-size: small;
    margin-bottom: 0.625rem;
}

.employee_left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.employee_info_wrapper{
    display: flex;
    gap: 1rem;
    align-items: flex-end;
}

.employee_salary{
    color: #bfa1fa;
    font-weight: 600;
}


