.default{
    font-weight: 500;
    letter-spacing: 0.1px;
}

.container {
    composes:default; 
    display: flex;
    align-items: center;
    width:fit-content;
    gap: 0.4rem;
    vertical-align: middle;
    line-height: 20px;
}


.container span{
    display: block;
    background: #fff;
}